/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */


:root {
    --font-family-Inter: 'Inter-Variable', sans-serif;
    --font-family-Press: 'PressStart2P', sans-serif;
    --font-weight: 400;
    --font-weight-title-card: 700;
    --bg-color: #fff;
    --accent-color: #000;
    --favicon-color: #000;
    --border-color: #000;
    --bg-header-card: #fff;
    --text-shadow-color: #fff;
    --floppy-color: #fff;
    --heart-sparks-color: #FF0000;
    --heart-contour-color: #000;
    --heart-main-body-color: none;

    --bg-img: repeating-linear-gradient(to right,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px),
        repeating-linear-gradient(to bottom,
            #d3d3d3,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px),
        linear-gradient(to bottom,
            #e7e7e7 0.01%,
            #1a1a1a 100%);
}

